In [1]:
from selenium import webdriver

In [2]:
driver = webdriver.Chrome(executable_path='D:/Tamil/chrome driver/chromedriver.exe')

In [4]:
driver.get('https://www.sutton.com/agent?bounding_box={%22top_left%22:{%22lat%22:70,%22lon%22:-142},%22bottom_right%22:{%22lat%22:42,%22lon%22:-50},%22pv%22:null,%22cty%22:null}&paginate=24&page=1#grid-view')

In [5]:
import pandas as pd

In [16]:
import time

In [23]:
df = pd.DataFrame([])
z = 0
for page in range(1,270):

    driver.get('https://www.sutton.com/agent?bounding_box={%22top_left%22:{%22lat%22:70,%22lon%22:-142},%22bottom_right%22:{%22lat%22:42,%22lon%22:-50}}&paginate=24&page='+str(page)+'#grid-view')
    agent_link = driver.find_elements_by_xpath('//*[@class="flex items-center justify-center px-4"]/a')
    for link in agent_link:
        df.loc[z,'links'] = link.get_attribute('href')
        z = z+1

                                                links
0      https://www.sutton.com/agent/eric-hasiak-56875
1    https://www.sutton.com/agent/diana-amoroso-54829
2   https://www.sutton.com/agent/michael-chiang-55612
3      https://www.sutton.com/agent/danny-bonko-55206
4   https://www.sutton.com/agent/jim-hinchcliffe-5...
5   https://www.sutton.com/agent/karen-blackley-55157
6    https://www.sutton.com/agent/jim-hendricks-56931
7    https://www.sutton.com/agent/arne-anderson-54834
8       https://www.sutton.com/agent/james-chow-55666
9        https://www.sutton.com/agent/moe-abaee-54741
21     https://www.sutton.com/agent/albert-chin-55621
28    https://www.sutton.com/agent/chris-chuang-55680
29       https://www.sutton.com/agent/don-jerry-57233

In [27]:
driver.find_element_by_tag_name('h1').text

'Karen Blackley'

In [30]:
driver.find_element_by_tag_name('h2').text

'Sutton Group - Skyway Realty Inc., Brokerage'

In [41]:
driver.find_element_by_xpath('//div[@class="items-center flex flex-row sm:flex-row lg:flex-row"]/li/p/a').get_attribute('href')

'http://karenblackley.com/'

In [36]:
for x in driver.find_elements_by_xpath('//p[@class="mt-1"]'):
    if 'Mobile' in x.text:
        agent_phone = x.text
    if 'Business' in x.text:
        office_phone = x.text
    if 'office' in x.text.lower():
        office_phone = x.text

Business: 905-646-9001
Mobile: 9054010633

In [42]:
agent_links = df.copy()

In [43]:
agent_links

                                                links
0      https://www.sutton.com/agent/eric-hasiak-56875
1    https://www.sutton.com/agent/diana-amoroso-54829
2   https://www.sutton.com/agent/michael-chiang-55612
3      https://www.sutton.com/agent/danny-bonko-55206
4   https://www.sutton.com/agent/jim-hinchcliffe-5...
..                                                ...
95   https://www.sutton.com/agent/diana-amoroso-54829
96      https://www.sutton.com/agent/james-chow-55666
97       https://www.sutton.com/agent/moe-abaee-54741
98   https://www.sutton.com/agent/arne-anderson-54834
99  https://www.sutton.com/agent/michael-chiang-55612

[100 rows x 1 columns]

In [1]:
import requests

In [2]:
requests.get('https://www.sutton.com/agent/josie-stern-62190')

In [48]:
df = pd.DataFrame([])
z = 0
for link in agent_links['links']:
    driver.get(link)
    try:
        agent_name = driver.find_element_by_tag_name('h1').text
    except:
        agent_name = ''
    try:
        agent_role = driver.find_element_by_tag_name('h3').text
    except:
        agent_role = ''
    try:
        agent_dp = driver.find_element_by_xpath('//div[@class="flex flex-col lg:flex-row items-center w-full lg:w-3/4"]/img').get_attribute('src')
    except:
        agent_dp = ''
    try:
        office_name = driver.find_element_by_tag_name('h2').text
    except:
        office_name = ''
    try:
        office_site = driver.find_element_by_xpath('//h2[@class="mb-2 text-gray-600"]/a').get_attribute('href')
    except:
        office_site = ''
    try:
        address = driver.find_element_by_xpath('//div[@class="mt-3 lg:mt-0"]').text.replace('\n', ' ')
    except:
        address =''
    try:
        Zip = address.split(' ')[-1]
    except:
        Zip = ''
    agent_phone = ''
    office_phone = ''
    
    try:
        
        for x in driver.find_elements_by_xpath('//p[@class="mt-1"]'):
            if 'Mobile' in x.text:
                agent_phone = x.text
            if 'Business' in x.text:
                office_phone = x.text
            if 'office' in x.text.lower():
                office_phone = x.text
    except:
        pass
    
    try:
        agent_site = driver.find_element_by_xpath('//div[@class="items-center flex flex-row sm:flex-row lg:flex-row"]/li/p/a').get_attribute('href')
    
    except:
        agent_sitet = ''
        
    df.loc[z,'agent_url'] = link
    df.loc[z,'agent_dp'] = agent_dp
    df.loc[z,'agent_name'] = agent_name
    df.loc[z,'agent_role'] = agent_role
    df.loc[z,'agent_phone'] = agent_phone

    df.loc[z,'office_name'] = office_name
    df.loc[z,'office_site'] = office_site
    df.loc[z,'office_address'] = address
    df.loc[z,'zip'] = Zip
    df.loc[z,'office_phone'] = office_phone
    z = z+1

In [50]:
df.to_csv('sutton_group.csv',index=False)